<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About - SonusShare{% endblock %}

{% block content %}
<div class="about-section">
    <h2>About SonusShare</h2>
    <p>SonusShare is a web application that allows you to easily convert and share your playlists across different music streaming platforms. Whether you're switching from Apple Music to Spotify or want to share your favorite playlists with friends who use different platforms, SonusShare makes it seamless and effortless.</p>
</div>
{% endblock %}
