{% extends 'sonoshareapp/base.html' %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<p><strong>Playlist Name:</strong> {{ playlist_name }}</p>
    {% if playlist_description %}
        <p><strong>Playlist Description:</strong> {{ playlist_description }}</p>
    {% endif %}

<table>
    <thead>
        <tr>
            <th>Source Track</th>
            <th>Spotify Track</th>
        </tr>
    </thead>
    <tbody>
        {% for track_name, artist_name in tracks.items %}
        <tr>
            <td>{{ track_name }} - {{ artist_name }}</td>
            <td>
                {% if track_name in tracks %}
                    {{ track_name }} - {{ artist_name }}
                {% else %}
                    No match found
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" action="{% url 'create_spotify_playlist' %}">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ playlist_name }}">
    <input type="hidden" name="description" value="{{ playlist_description }}">
    <input type="hidden" name="track_ids" value="{{ track_id|join:',' }}">
    <button type="submit">Create Playlist</button>
</form>

{% endblock %}
